.queue-season-number {
    text-shadow: 1px 1px 2px black;
}

.queue-season-name {
    font-size: .70rem;
    font-weight: 500;
}

.queue-tile-container {
    height: 80px;
    border-style: solid;
    border-width: 4px;
}