.season-hovered {
    opacity: 0;
}

.flip {
    transform: rotateY(90deg);
}

/* ----TILED---- */

.season-logo {
    border: 5px solid;
    cursor: pointer;
}

.winners {
    z-index: -1;
    position: absolute;
    left: 0px;
    padding-right: 19px;
    padding-left: 19px;
    padding-top: 40px;
    transition: transform .5s;
    font-size: .70rem;
}

.season-name-div {
    height: 40px;
}

.season-name {
    font-size: .8rem;
}

.logo-transition {
    transition: opacity .75s;
}

/* ----LIST---- */

.season-number-list {
    text-shadow: 1px 1px 2px black;
    font-size: .8rem;
}

.season-name-list {
    z-index: 2;
    text-shadow: 1px 1px 2px black;
    font-size: .8rem;
    transition: opacity .75s;
    cursor: pointer;
}

.season-logo-list {
    height: 40px;
}

.winners-list {
    position: absolute;
    text-shadow: 1px 1px 2px black;
    transition: transform .5s;
    font-size: .7rem;
}

.middle-col {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

@media (min-width: 400px) {
    .winners { font-size: .9rem;}
    .season-name {font-size: .9rem;}
}

@media (min-width: 476px) {
    .winners-list { font-size: 1rem;}
    .middle-col {
        padding-left: 15px !important;
        padding-right: 15px !important;
    }
}

@media (min-width: 576px) {
    .season-number-list { font-size: .9rem; }
    .season-name-list { font-size: .9rem; }
    .season-logo-list { height: 45px; }
}

@media (min-width: 992px) {
    .season-number-list { font-size: 1rem; }
    .season-name-list { font-size: 1rem; }
    .season-logo-list { height: 50px; }
}