.window {
    border: 5px solid #d9d9d9;
    border-radius: 7px;
}

.tiled {
    display: none;
}

.wlseason-list-container {
    padding-bottom: 2px;
    padding-top: 2px;
}

@media (min-width: 992px) {
    .tiled { display: block }
    .list { display: none }
}